.base {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.grass {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--grass);
}

.poison {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--poison);
}

.fire {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--fire);
}

.flying {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--flying);
}

.water {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--water);
}

.bug {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--bug);
}

.normal {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--normal);
}

.electric {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--electric);
}

.ground {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--ground);
}

.fairy {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--fairy);
}

.fighting {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--fighting);
}

.psychic {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--psychic);
}

.rock {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--rock);
}

.ice {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--ice);
}

.ghost {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--ghost);
}

.dragon {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--dragon);
}

.dark {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--dark);
}

.steel {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    var(--steel);
}
